# python watcher
config.toml
cache/
logs/
*.db
*.db-journal
__pycache__/
*.egg-info/
.venv/
.pytest_cache/

# android app
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.apk
